.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mainMenu {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: steelblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainMenu button, .quiz button,.screen button {
  width: 300px;
  height: 50px;
  margin: 5px;
  bottom: none;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  color: rgb(19, 21, 22);
}

.quiz , .screen {
  width: 650px;
  height: 500px;
  border-radius: 10px;
  background-color: lightseagreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}
.screen {
  background-color: lightslategray;
}

.options {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}